// The MIT License
// Copyright (C) 2017-Present Shota Matsuda

body {
  margin: 50px
  padding: 0
  color: black
  background-color: #fafafa
  font-family: "-apple-system", "BlinkMacSystemFont", sans-serif;
  line-height: 1.5;
  font-size: 11px
}
