// The MIT License
// Copyright (C) 2017-Present Shota Matsuda

svg-background(data, width, height, fill = black) {
  background-image: url(s(
    "data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 %s %s'><style>*{fill:%s;}</style>%s</svg>",
    remove-unit(width),
    remove-unit(height),
    fill,
    unquote(replace('"', "'", data)),
  ))
}
