.visualization {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  > div {
    display: flex;
    flex-grow: 1;

    > svg {
      flex-grow: 1;

      &, * {
        user-select: none;
      }
    }
  }
}

.axis.ruler {
  font-family: -apple-system, sans-serif;
  font-size: 9px;
  font-weight: 400;

  text {
    fill: black;
    fill-opacity: 0.5;
  }

  path {
    fill: none;
    stroke: none;
  }

  line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    stroke-opacity: 0.05;
  }

  &.x {
    text {
      alignment-baseline: text-before-edge;
    }
  }

  &.y {
    text {
      text-anchor: start;
    }
  }
}
