// The MIT License
// Copyright (C) 2017-Present Shota Matsuda

.element {
  margin: 0.5rem
}

.item {
  display: flex
  flex-direction: row
  align-items: baseline
}

.itemTitle {
  flex-grow: 0
  flex-shrink: 0
  flex-basis: 25%
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
}

.itemContent {
  flex-grow: 1
  flex-shrink: 1
}
