// The MIT License
// Copyright (C) 2017-Present Shota Matsuda

.element {
  display: flex
  flex-direction: column
  overflow: hidden
  box-sizing: border-box
  width: 100%
  height: 100%
  background-color: white
  user-select: none
}

.svg {
  display: block
  flex-grow: 1
  flex-shrink: 1
}

.legend {
  flex-grow: 0
  flex-shrink: 0
  padding: 0.5rem
}

.item {
  visibility: visible
}

.cluster {
  visibility: visible
}

.xAxis {
  z-index: 100

  text {
    fill: black
  }

  path, line {
    stroke: black
    stroke-width: 1px
  }
}

.yAxis {
  z-index: 100

  text {
    fill: black
  }

  path, line {
    stroke: black
    stroke-width: 1px
  }
}
