// The MIT License
// Copyright (C) 2017-Present Shota Matsuda

.element {
  width: 100vw
  height: 100vh
  user-select: none
}

.svg {
  display: block
  width: 100vw
  height: 100vh
}

.xGrid, .yGrid {
  text {
    fill: rgba(black, 0.5)
  }

  path {
    display: none
  }

  line {
    stroke: rgba(black, 0.05)
    stroke-width: 1px
  }
}

.xGrid {
  text {
    alignment-baseline: text-before-edge
  }
}

.yGrid {
  text {
    text-anchor: start
  }
}
